/* +++ CSS REST +++

http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* +++ BORDER BOX +++  */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-sizing: border-box;
	box-sizing: border-box;
}


/* +++ CLEARFIX +++ */

.cf:before, .cf:after {
	content: "" ;
	display: table;
}

.cf:after {
	clear: both;
}

/* =========================================== */

body {
	background-color: #FCFCF5;
}

h1, h3, p, a {
	color: #FCFCF5;
	font-family: Georgia, serif;
}

h1 {
	font-style: italic;
	font-size: 48pt;
}

h2, li {
	color: #FCFCF5;
	font-family: Arial, sans-serif;
}

/* =========== HEADER ========= */

.main-header {
	background-color: #3F616F;
	width: 100%;
	height: 180px;
}

.main-heading {
	margin: 60px 0 10px 70px;
	display: inline-block;
}

.sec-heading {
	font-size: 12pt;
	text-align: right;
	margin-right: 50px;
}

/* ========== CONTROL BAR ======== */

.con-bar {
	width: 100%;
	height: 40px;
	padding: 3px;
	background-color: #91AA9D;
}

.container {
	width: 600px;
	margin: 0 auto;
	padding: 5px;
}

.grid-button {
	float: right;
}

#grid-input {
	width: 40px;
	margin-left: 350px;
}

button {
	background-color: #91AA9D;
	border: 2px solid #3F616F;
}

/* ========= MAIN SECTION====== */

.main-section, .wrap {
	height: 600px;
	width: 600px;
	margin: 0 auto;
}

.wrap {
	border: 1px solid #91AA9D;
	margin: 20px 0 30px 0;
}

.box {
	border: 1px solid #91AA9D;
	float: left;
	margin: 1px;
}

.hover {
	background-color: #1a3441;
}